@charset "UTF-8";

:root {
    --blackblue: #141E26;
    --lightb: #394A59;
    --bright: #cf9a76;
    --brighter: #d37a3f;
    --purple1: #52498C;
    --mag1: #8C5889;
}

/* Principal Page */
main>section>article#photo {
    height: 285px;
    box-shadow: inset 6px 6px 25px 0px rgba(0, 0, 0, 0.555);

    background-color: var(--blackblue);
    background-image: url(../img/skate.jpg);
    background-position: 50% 65%;
    background-size: cover;

}

main>section#price {
    color: white;
    background-color: var(--lightb);
    padding: 25px
}



main>section#price p>strong {
    font-size: 2em;
}

main>section#price a {
    box-sizing: border-box;
    background-color: var(--brighter);
    padding: 20px;
    margin: auto;
    display: block;

    font-size: 1.8em;
    text-align: center;
    color: white;
    text-decoration: none;

    /* Using a transparent border to not move the buttom when
    the mouse is over it and a border is added
    */
    border: 2px solid transparent;
    border-radius: 15px;

    transition: border 0.3s ease;
}

main>section#price a:hover {
    border: 2px solid white;
    font-weight: bolder;

}


main>section#whyus {
    color: white;
    background-color: #526474;

    padding: 25px;

}

main>section#whyus ul li {
    margin: 10px 0px;
    list-style-type: none;
}