@charset "UTF-8";


:root {
    --blackblue: #141E26;
    --lightb: #394A59;
    --bright: #cf9a76;
    --brighter: #d37a3f;
    --purple1: #52498C;
    --mag1: #8C5889;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--blackblue);
    display: flex;
    justify-content: center;
}

main {
    background-color: white;
    margin: 25px 0px;
    border-radius: 25px;
    display: block;
    max-width: 600px;
    min-width: 290px;
}


main>section#principal article#skateshcool {
    padding: 20px 25px 0px 25px;
}

main>section#principal article#skateshcool h1,
h2,
p {
    text-align: justify;
    padding-bottom: 15px;
}

main>section#principal article#skateshcool h1 {
    font-size: 2em;
    font-variant: small-caps;
    color: var(--purple1);
}

main>section#principal article#skateshcool p {
    line-height: 1.5em;
    text-indent: 1em;
}

main>section#principal article#skateshcool p>strong {
    color: var(--bright);

}

main>section#principal>article#photo {
    height: 285px;
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
    box-shadow: inset 6px 6px 25px 0px rgba(0, 0, 0, 0.555);
    background-image: url(../img/skate.jpg);
    background-position: 50% 65%;
    background-size: cover;
}


main>section#price {

    color: white;
    background-color: var(--lightb);
    padding: 25px
}

main>section#price p {
    font-weight: lighter;
}

main>section#price p>strong {
    font-size: 2em;
}

main>section#price a {
    box-sizing: border-box;
    background-color: var(--brighter);
    padding: 20px;
    margin: auto;
    display: block;

    font-size: 1.8em;
    text-align: center;
    color: white;
    text-decoration: none;

    border: 2px solid transparent ;
    border-radius: 15px;

    transition: border 0.3s ease;
}

main>section#price a:hover {
    border: 2px solid white;
    font-weight: bolder;

}


main>section#whyus {
    color: white;
    background-color: #526474;

    padding: 20px;

}

main>section#whyus ul li {
    margin: 10px 0px;
    list-style-type: none;
}
main > footer{
    padding-top: 10px;
}
main > footer > p{
    text-align: center;
}

main > footer >p> a{
    font-weight: bolder;
    text-decoration: none;
    color: #141E26;
}
