@charset "UTF-8";



:root {
    --blackblue: #141E26;
    --lightb: #394A59;
    --bright: #cf9a76;
    --brighter: #d37a3f;
    --purple1: #52498C;
    --mag1: #8C5889;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}